@charset "utf-8";

$primary: #173e42;
$link: $primary;

@import '~bulma/bulma.sass';

html {
  overflow-y: auto;
}

html,
body {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
}

.columns {
  margin-left: 0;
  margin-right: 0;
}
